<mat-sidenav-container>

  <!-- list of categories -->
  <mat-sidenav #sideNav="matSidenav" mode="side" [(opened)]="opened" [fixedInViewport]="true" [fixedTopGap]="50">


    <mat-nav-list>
      <a mat-list-item role="navigation" [class.active]="!category" routerLink="/">
        All Categories</a>
      <a mat-list-item *ngFor="let c of categories$ | async" role="navigation" routerLink="/"
        [queryParams]="{ category: c.payload.key }">
        {{ c.payload.key }}
      </a>
    </mat-nav-list>


  </mat-sidenav>


  <!-- list of products -->
  <mat-sidenav-content>

    <button class="toggler" mat-icon-button (click)="sideNav.toggle()">
      <mat-icon *ngIf="!opened">arrow_right</mat-icon>
      <mat-icon *ngIf="opened">arrow_left</mat-icon>
      Categories
    </button>

    <mat-grid-list [cols]="breakpoint" rowHeight="500px" (window:resize)="onResize($event)">
      <mat-grid-tile *ngFor="let product of filteredProducts">
        <product-card [product]="product"></product-card>
      </mat-grid-tile>
    </mat-grid-list>

  </mat-sidenav-content>

</mat-sidenav-container>